/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* Documentation Styles
================================================== */
	div.container {
		padding-top: 60px; }

	/* Doc nav */
	nav {
		position: fixed;
		width: 160px; }
	#navtitle {
		margin-bottom: 20px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing: -1px;
		font-weight: bold; 
		text-align: center; }
	nav ul {
		float: left;  }
	nav ul li {
		display: block;
		margin-bottom: 10px;
	}
	nav ul li a,
	nav ul li a:visited,
	nav ul li a:active  {
		font-size: 14px;
		color: #555;
		text-decoration: none;
		font-weight: bold; 
	}
	nav ul li a:hover,
	nav ul li a:focus {
		color: #222; }

	header h1 {
		font-size: 52px;
		line-height: 61px;
		letter-spacing: -1px;
		font-weight: normal;
		font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; }
	hr.large {
		border: none;
		height: 8px;
		background: #ebebeb;
		margin: 50px 0; }

	.post-button-note,
	.post-button-note a {
		font-size: 12px;
		color: #999; }

	nav ul ul li,
	nav ul ul ul li {
		margin-top: 0px
		margin-bottom: 0px !important;
		font-size: 13px;
	}

	nav ul ul {
		margin-top: 0px;
		margin-bottom: 0px;
	}


	ul ul li, 
	ul ol li, 
	ol ol li, 
	ol ul li {
		margin-bottom: 10px;
		font-size: 14px;
	}

	li:first {
		margin-top: 0px;
	}
	
	li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	/* Mobile */
	@media only screen and (max-width: 767px) {
		header h1 { font-size: 34px; line-height: 37px; }
		nav { position: relative; }
		nav ul,
		.carbonad {
				display: none;
		}
		#logo { text-align: left; }
		#examples .four.columns {
			padding-top: 30px;
		}
	}

	/* Mobile Landscape */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav ul {
			display: none;
		}
	}

	/* Non 960 */
	@media only screen and (max-width: 959px) {
		#logo {
			font-size: 21px;
			margin-bottom: 15px; }
		nav .button {
			padding: 9px 20px 11px; }
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		nav {
			width: 124px; }
	}

	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}


	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Anything smaller than standard 960 on a device */
	@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
/*		.resize { display: none; }*/
	}

/* #Misc
================================================== */
	code, pre {
		font-family: monospace;
		color: black;
	}

    .justify {
    	text-align: justify;
    }

	li, ol {
		margin-bottom: 20px;
	}
	
	pre.prettyprint {
		border-style: none;
	}

	.menuitem {
		padding-left: 7px;
		border-left-width: 7px;
		border-left-style: solid;
		margin-bottom: 0px;
		min-height: 18px;
		border-color: #FFFFFF;
	}
	
	div .tableheading p {
		margin-bottom: 5px;	
	}
	
	.redbackground    {   background: #981b1e !important; }
	.redborder        { border-color: #981b1e !important; }
	.orangebackground {   background: #d38200 !important; }
	.orangeborder     { border-color: #d38200 !important; }
	.yellowbackground {   background: #dbd900 !important; }
	.yellowborder     { border-color: #dbd900 !important; }
	.greenbackground  {   background: #017300 !important; }
	.greenborder      { border-color: #017300 !important; }
	.bluebackground   {   background: #1c3880 !important; }
	.blueborder       { border-color: #1c3880 !important; }
	.indigobackground {   background: #4c2582 !important; }
	.indigoborder     { border-color: #4c2582 !important; }
	.violetbackground {   background: #651346 !important; }
	.violetborder     { border-color: #651346 !important; }
	
