<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMunkiImporter</key>
	<dict>
		<key>URLToMonitor</key>
		<string>http://ftp.mozilla.org/pub/mozilla.org/mozilla.org/firefox/releases/latest-10.0esr/mac/en-GB/</string>
		<key>downloadLinkRegex</key>
		<string>Firefox\s(\d+\.)?(\d+\.)?(\*|\d+)?esr.dmg</string>
		<key>emailReports</key>
		<true/>
		<key>itemToImport</key>
		<string>Firefox.app</string>
		<key>munkiimportOptions</key>
		<string>--subdirectory &quot;apps/firefox&quot;</string>
		<key>name</key>
		<string>Firefox</string>
		<key>secondLinkRegex</key>
		<string></string>
		<key>type</key>
		<string>dynamic</string>
	</dict>
	<key>catalogs</key>
	<array>
		<string>autopkg</string>
	</array>
	<key>description</key>
	<string>Firefox Web Browser (Extended Support Release)</string>
	<key>display_name</key>
	<string>Firefox (ESR)</string>
</dict>
</plist>
