<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMunkiImporter</key>
	<dict>
		<key>URLToMonitor</key>
		<string>http://www.microsoft.com/en-us/download/confirmation.aspx?id=9442</string>
		<key>downloadLinkRegex</key>
		<string>Start download</string>
		<key>emailReports</key>
		<true/>
		<key>itemToImport</key>
		<string>Flip4Mac WMV.mpkg</string>
		<key>munkiimportOptions</key>
		<string>--subdirectory &quot;apps/flip4mac&quot;</string>
		<key>name</key>
		<string>Flip4Mac</string>
		<key>secondLinkRegex</key>
		<string></string>
		<key>type</key>
		<string>dynamic</string>
	</dict>
	<key>catalogs</key>
	<array>
		<string>autopkg</string>
	</array>
	<key>description</key>
	<string>Flip4Mac WMV QuickTime components, plug-ins, and preference pane.</string>
	<key>display_name</key>
	<string>Flip4Mac Windows Media Components for Quicktime</string>
</dict>
</plist>
