<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>au.edu.anu.autoMunkiImporter</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/autoMunkiImporter/autoMunkiImporter.pl</string>
		<string>--data</string>
		<string>/Library/Application Support/autoMunkiImporter</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>5</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>UserName</key>
	<string>REPLACE_ME</string>
	<key>Disabled</key>
	<true/>
</dict>
</plist>
