<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMunkiImporter</key>
	<dict>
		<key>URLToMonitor</key>
		<string>http://update.videolan.org/vlc/sparkle/vlc.xml</string>
		<key>downloadLinkRegex</key>
		<string></string>
		<key>emailReports</key>
		<true/>
		<key>itemToImport</key>
		<string>VLC.app</string>
		<key>munkiimportOptions</key>
		<string>--subdirectory &quot;apps/vlc&quot;</string>
		<key>name</key>
		<string>VLC</string>
		<key>secondLinkRegex</key>
		<string></string>
		<key>type</key>
		<string>sparkle</string>
		<key>userAgent</key>
		<string></string>
	</dict>
	<key>catalogs</key>
	<array>
		<string>autopkg</string>
	</array>
	<key>description</key>
	<string>VLC Media Player plays a wide range of different video and audio formats.</string>
</dict>
</plist>
